<div style="height: 1000px; background-image: url(<%= asset_path 'buildings.webp' %>); background-size: cover; background-position: center;">
  <div class="button mt-10 ml-10"><%= link_to 'click! アートを観に行く', random_artwork_path %></div>
  <p class="ml-11 text-gray-400">※クリックしてから表示まで最大20秒。。。</p>

  <%# スライダー %>
  <div class="row">
    <div class="autoplay-slider">
      <div class="slide"><span><%= image_tag("watch.webp") %></span></div>
      <div class="slide"><span><%= image_tag("people1.webp") %></span></div>
      <div class="slide"><span><%= image_tag("woman3.webp") %></span></div>
      <div class="slide"><span><%= image_tag("woman4.webp") %></span></div>
      <div class="slide"><span><%= image_tag("japan1.webp") %></span></div>
      <div class="slide"><span><%= image_tag("woman1.webp") %></span></div>
      <div class="slide"><span><%= image_tag("japan2.webp") %></span></div>
    </div>
  </div>
</div>



  <script>window.addEventListener('scroll', function(e) {
    window.scrollTo(0, window.scrollY);
  });</script>
